@keyframes expand {
  0% {
    width: 260px;
  }
  50% {
    width: 55px;
  }
  100% {
    width: 55px;
  }
}

@keyframes scaleWidth {
  0% {
    width: 55px;
  }
  100% {
    width: 260px;
  }
}

.red-button-collapse {
  animation: expand 1s linear 5s;
  animation-fill-mode: forwards;
}

.red-button img{
    margin-left: 12px;
    margin-right: 10px;
}

.red-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 50px;
  border: none;
  background: #e40f0f;
  width: 260px;
  padding: 10px 15px 10px 10px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.red-button-text {
  text-align: center;
  vertical-align: middle;
  overflow-x: hidden;
  position: relative;
  color: #fff!important;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  top: 0px;
  left: 0px;
}

.red-button-collapse:hover {
    animation: none; /* Remove a animação padrão ao passar o mouse */
    width: 260px; /* Largura aumenta quando o mouse passa por cima */
    animation: scaleWidth 1s linear; /* Adiciona uma transição suave para a largura */
  }
